/* 
  #c3e0e5 - Baby Blue
  #5885af - Blue Gray
  #41729f - Midnight Blue
  #274472 - Dark Blue
*/

.header a {
  text-decoration: none;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  padding: 0 20px;
  z-index: 1000;
}

.header .content {
  height: 100%;
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header .logo {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 900;
}

.header .navbar {
  display: flex;
  height: 100%;
}

.header .nav-link {
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.header .nav-link:hover {
  background-color: #ffffff11;
}

@media only screen and (min-width: 768px){
  

}
