/* 
  #c3e0e5 - Baby Blue
  #5885af - Blue Gray
  #41729f - Midnight Blue
  #274472 - Dark Blue
*/

/* #navbar .main-links {
  display: none;
  height: 100%;
}

#navbar .main-links a {
  display: flex;
  align-items: center;
  padding: 0 30px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
} */

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: transparent;
  padding: 20px 20px 0;
}

#navbar .content {
  width: 100%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

#navbar .mobile-links {
  position: absolute;
  top: 42px;
  right: 42px;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border-radius: 3px;
  padding: 5px 0;
}

#navbar .mobile-links a {
  color: #274472;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 70px 0 20px;
  text-decoration: none;
  font-weight: normal;
  font-size: 1.1rem;
}

#navbar .mobile-links a:hover, #navbar .main-links a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#navbar .menu {
  position: relative;
  border: none;
  border-radius: 3px;
  background-color: #274472;
  color: #fff;
  font-size: 20px;
  width: 38px;
  height: 40px;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.7);
}

#navbar .menu:hover {
  cursor: pointer;
}

#navbar .image-wrapper {
  max-width: 40px;
  box-shadow: 4px 4px 0px 0px rgba(255, 255, 255, 0.8);
  border-radius: 3px;
}

@media only screen and (min-width: 768px){
  
  #navbar .mobile-links {
    top: 0;
    flex-direction: row;
    padding: 0;
    height: 40px;
  }

  #navbar .mobile-links a {
    color: #274472;
    padding: 0 20px;
    font-weight: normal;
    font-size: 1rem;
    height: 100%;
  }
}
