/* 
  #c3e0e5 - Baby Blue
  #5885af - Blue Gray
  #41729f - Midnight Blue
  #274472 - Dark Blue
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.2) #333;
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  display: flex;
}

.section-title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
  color: #272727;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Welcome section */

#welcome-section {
  height: 100vh;
  min-height: 500px;
  background-color: #272727;
}

#welcome-section .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
}

#welcome-section h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin: 20px 0 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#welcome-section p {
  font-size: 1.5rem;
  font-weight: 300;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> About section */

.me {
  padding: 100px 20px 130px;
  min-height: 100vh;
  height: max-content;
  display: flex;
  align-items: center;
}

.me .content {
  max-width: 750px;
  margin: auto;
  color: #111;
}

.me p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.5rem;
  margin-top: 20px;
  text-align: justify;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Projects section */

.projects {
  min-height: 100vh;
  height: max-content;
  background-color: #272727;
}

.projects .content {
  padding: 100px 20px 130px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}

.projects .section-title {
  color: white;
  margin-bottom: 30px;
}

.projects .item-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 2rem;
  justify-content: center;
}

.projects .item {
  background-color: #171717;
  border: 1px solid #000;
  color: white;
  padding: 20px 30px;
}

.projects .item .title {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.projects .item .p-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.projects .item .p-link {
  text-decoration: none;
  background: #232323;
  border: 1px solid #555;
  color: #eee;
  display: inline-block;
  font-size: .9rem;
  font-weight: 400;
  line-height: 0.9rem;
  padding: .3rem .5rem;
  vertical-align: middle;
}

/* .project-tile .project-info {
  display: flex;
  font-size: 0.8rem;
  line-height: 1.3rem;
  color: #ddd;
  background-color: #333;
  margin-top: 10px;
}

.project-tile .project-info .numbers {
  display: flex;
  flex-direction: column;
  padding: 0 15px 6px 10px;
  border-right: 1px solid #444;
  color: #666;
  font-weight: 300;
}

.project-tile a {
  color: #fada5e;
  border-bottom: 3px solid #c3e0e5;
  text-decoration: none;
}

.project-tile .project-info pre {
  padding: 0 10px;
  font-size: 0.8rem;
}

pre .key {
  color: #888;
}

pre .brackets {
  color: #eeff1b;
}

pre .string {
  color: #fada5e;
} */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Contact section */

#contact {
  padding-top: 50px;
  background: linear-gradient(30deg, #41729f, #5885af);
  color: white;
}

.contact-content {
  max-width: 1100px;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: center;
  margin: 50px 0 80px;
}

.contact-info {
  text-align: center;
  margin-top: 50px;
}

.social-link {
  font-size: 1rem;
  background-color: #274472;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.8);
  transition-duration: 200ms;
}

.social-link:last-child {
  margin: 0;
}

.social-link:hover {
  transform: translate(-3px, -3px);
  box-shadow: 8px 8px 0 0 rgba(255, 255, 255, 0.8);
}

.social-link i {
  font-size: 2rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer section */

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #c3e0e5;
  font-weight: 400;
}

/* 
    >>>>>>>>>>>>>>>>>>>>>> Breakpoints <<<<<<<<<<<<<<<<<<<<<<< 
*/

@media only screen and (min-width: 600px) {
  #welcome-section .image-wrapper {
    max-width: 200px;
  }
  #welcome-section h1 {
    font-size: 5rem;
  }
  #welcome-section p {
    font-size: 1.5rem;
  }
  .me p {
    text-align: center;
  }
  .project-tile {
    width: 345px;
  }
  .project-tile .project-image {
    height: 300px;
  }
  .project-tile .project-info {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1024px) {
  #welcome-section h1 {
    font-size: 5rem;
  }
}