/* 
  #c3e0e5 - Baby Blue
  #5885af - Blue Gray
  #41729f - Midnight Blue
  #274472 - Dark Blue
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.2) #333;
  /* scrollbar-color: rgba(0, 0, 0, 0.2) #ddd; */
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.image-wrapper {
  display: flex;
}

.section-title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  text-align: center;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Welcome section */

#welcome-section {
  height: 100vh;
  min-height: 500px;
  background-image: url(../assets/images/web-development.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome-section .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

#welcome-section .image-wrapper {
  max-width: 150px;
}

#welcome-section h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin: 20px 0 0;
}

#welcome-section p {
  font-size: 1.5rem;
  font-weight: 300;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> About section */

#about-section {
  padding: 100px 20px 130px;
}

#about-section .content {
  max-width: 750px;
  margin: 0 auto;
  color: #111;
}

#about-section p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 20px;
  text-align: justify;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Projects section */

.projects-content {
  max-width: 1100px;
  margin: 20px auto 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project-tile {
  max-width: max-content;
  overflow: hidden;
  margin: 0 5px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 0 0 #5885af;
  border-radius: 5px;
}

.project-tile .project-image {
  background: url(../assets/images/project1.jpg);
  background-position: top, center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

.project-tile .project-info {
  display: flex;
  line-height: 1.5rem;
  font-size: 1rem;
  color: #ddd;
  background-color: #333;
}

.project-tile .project-info .numbers {
  display: flex;
  flex-direction: column;
  padding: 0 15px 6px 10px;
  border-right: 1px solid #444;
  color: #666;
  font-weight: 300;
}

.project-tile a {
  color: #fada5e;
  border-bottom: 3px solid #c3e0e5;
  text-decoration: none;
}

.project-tile .project-info pre {
  padding: 0 10px;
}

pre .key {
  color: #888;
}

pre .brackets {
  color: #eeff1b;
}

pre .string {
  color: #fada5e;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Contact section */

#contact {
  padding-top: 50px;
  background: linear-gradient(30deg, #41729f, #5885af);
  color: white;
}

.contact-content {
  max-width: 1100px;
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: center;
  margin: 50px 0 80px;
}

.contact-info {
  text-align: center;
  margin-top: 50px;
}

.social-link {
  font-size: 1rem;
  background-color: #274472;
  color: white;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 rgba(255, 255, 255, 0.8);
  transition-duration: 200ms;
}

.social-link:last-child {
  margin: 0;
}

.social-link:hover {
  transform: translate(-3px, -3px);
  box-shadow: 8px 8px 0 0 rgba(255, 255, 255, 0.8);
}

.social-link i {
  font-size: 2rem;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Footer section */

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #c3e0e5;
  font-weight: 400;
}

/* 
    >>>>>>>>>>>>>>>>>>>>>> Breakpoints <<<<<<<<<<<<<<<<<<<<<<< 
*/

@media only screen and (min-width: 600px) {
  #welcome-section .image-wrapper {
    max-width: 200px;
  }
  #welcome-section h1 {
    font-size: 5rem;
  }
  #welcome-section p {
    font-size: 2rem;
  }
  #about-section p {
    text-align: center;
  }
}

@media only screen and (min-width: 1024px) {
  #welcome-section h1 {
    font-size: 7rem;
  }
}