/* 
  #c3e0e5 - Baby Blue
  #5885af - Blue Gray
  #41729f - Midnight Blue
  #274472 - Dark Blue
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-color: rgba(255, 255, 255, 0.2) #333;
  /* scrollbar-color: rgba(0, 0, 0, 0.2) #ddd; */
  font-family: 'Source Sans Pro', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.image-wrapper{
  display: flex;
}

#welcome-section {
  height: 100vh;
  min-height: 500px;
  background-image: url(../assets/images/web-development.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#welcome-section .wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

#welcome-section .image-wrapper {
  max-width: 150px;
}

#welcome-section h1 {
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin: 20px 0 0;
}

#welcome-section p {
  font-size: 1.5rem;
  font-weight: 300;
}

#about-section {
  padding: 0 20px;
}

#about-section .content {
  max-width: 750px;
  margin: 50px auto;
  color: #111;
}

#about-section h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

#about-section p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2rem;
  margin-top: 20px;
  text-align: justify;
}



/* 
    >>>>>>>>>>>>>>>>>>>>>> Breakpoints <<<<<<<<<<<<<<<<<<<<<<< 
*/
@media only screen and (min-width: 600px) {
  #welcome-section .image-wrapper {
    max-width: 200px;
  }
  
  #welcome-section h1 {
    font-size: 5rem;
  }
  
  #welcome-section p {
    font-size: 2rem;
  }

  #about-section p {
    text-align: center;
  }
}
@media only screen and (min-width: 1024px){
  #welcome-section h1 {
    font-size: 7rem;
  }
}